* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    background: none;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    /* background: black; */
}
#world {
    height: 30%;
    width: 50%;
}
.row {
    display: flex;
}
.row div {
    height: 5vh;
    width: 5vh;
}
.block {
    background: midnightblue;
}
.coin, .cherry {
    background-repeat: no-repeat;
    background-position: center;
}
.coin {
    background-image: url(images/pacman_coin.png);
    background-size: 1vh;
}
.cherry {
    background-image: url(images/pacman_cherry.png);
    background-size: 3vh;
}
.empty {
    background: white;
}
.pacman_left, .pacman_up, .pacman_right, .pacman_down {
    background-size: 2.5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.pacman_left {
    background-image: url(images/pacman_left.gif);
}
.pacman_up {
    background-image: url(images/pacman_up.gif);
}
.pacman_right {
    background-image: url(images/pacman_right.gif);
}
.pacman_down {
    background-image: url(images/pacman_down.gif);
}
#scoreBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
    font-size: xx-large;
}
#scoreBox p {
    color: black;
}